elixir_version=1.13.4
erlang_version=25.0.3

# Invoke assets.deploy defined in your mix.exs to deploy assets with esbuild
# Note we nuke the esbuild executable from the image
hook_post_compile="eval cd apps/bob_versions_web && mix assets.deploy && rm -f _build/esbuild* && rm -f _build/dart* && rm -f _build/sass*"