<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bob's List</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%#= csrf_meta_tag() %>
    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>' defer></script>
  </head>
  <body>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-head">
        <%= render "nav.html", assigns %>
      </div>

      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Bob's List
          </h1>
          <div class="subtitle">
            Overview of all available elixir packages provided by hex
          </div>
        </div>
      </div>

      <%= if assigns[:data] do %>
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <%= for {minor, _list} <- BobVersionsWeb.PageView.sort_by_minor(@data), match?(<<"v"::binary, _::binary>>, minor) || ("master" == minor) do %>
                  <li class='<%= if minor == @stable, do: "is-active" %>'>
                    <a href="#version_<%= minor %>"><%= String.trim_leading(minor, "v") %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      <% end %>
    </section>

    <main role="main">
      <%= @inner_content %>
    </main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Built</strong> by <a href="https://kobrakai.de">Benjamin Milde</a>. Based on the data provided by <a href="https://repo.hex.pm/builds/elixir/builds.txt">hex</a>. Hosted on <a href="https://gigalixir.com/">gigalixir</a>'s free tier.
        </p>
      </div>
    </footer>
  </body>
</html>
